Code/sdkconfig
Code/sdkconfig.old
Code/build
Code/config.clangd
DeskLampCircuit/fp-info-cache
DeskLampCircuit/generate.sh
DeskLampCircuit/DeskLampCircuit-backups
DeskLampCircuit/Output
Model/*.FCBak
*.lck
